[diff "color"]
	commit = normal

[init]
	defaultBranch = main

[core]
	autocrlf = false
	eol = lf
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = Visual Studio Dark+
	navigate = true
	dark = true
	line-numbers = true
	syntax-theme = Visual Studio Dark+
	file-decoration-style = cyan
	file-style = cyan
	inline-hint-styles = cyan
	tabs = 4
	line-numbers-left-style = cyan
	line-numbers-right-style = cyan
	line-numbers-minus-style = deeppink
	line-numbers-plus-style = lime
	line-numbers-zero-style = dimgrey
	hunk-header-line-number-style = cyan
	hunk-header-file-style = cyan
	hunk-header-decoration-syle = cyan box
